* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    width: 610px;
    height: 120px;
}

footer {
    padding: 5px;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    flex-direction: row;
}

a {
    margin-right: 25px;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}