main {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uputstvo {
    padding: 10px;
    width: 40vw;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: grey;
    color: white;
    box-shadow: 2px 2px #000;
}

footer {
    padding: 5px;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    flex-direction: row;
}

a {
    margin-right: 25px;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}